*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*nav-bar*/

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #EEA47F ;
  box-shadow: 0px 4px 3px #8e7b7b;
  position: sticky;
  top:0;
  z-index: 999;
  height: 100px;
  width: 100%;
}

.nav .image{
  display: flex;
  justify-content: left;
  margin-left: 2%;
  width: 80%;
}

.nav .image .logo img{
  height: 100px;
  width: 100px;
}

.nav .image .heading h1{
  font-size: 35px;
  margin-top: 5%;
}

.nav .options ul{
  display: flex;
}

.nav .options ul li{
  list-style: none;
  font-size: large;
  margin: 35px 20px;
}

.nav .options ul li a{
  text-decoration: none;
  color: azure;
  font-weight: bold;
  border: 1px solid #00539C;
  padding: 12px 17px;
  background-color: rgb(52, 45, 45);
  border-radius: 5px;
  box-shadow: 3px 4px 3px #8e7b7b;
}

.nav .theme1 {
  margin: 35px;
  margin-left: 10%;
}

.nav .theme1 i{
  font-size: 30px;
}

.nav .options ul li a.active, .nav .options ul li a:hover{
  background-color:#8d8472;
}

/*nav-bar*/

/*Home-section*/

.home{
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100%;
}

.home .teacher{
  height: 121.4%;
  width: 50%;
  background-image: linear-gradient(#bdc3c7 , #2c3e50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.teacher h1{
  color: black;
}

.teacher p{
  padding-left: 23%;
  padding-right: 20%;
  color: rgb(235, 212, 212);
}

.teacher .tlog{
  text-decoration: none;
  font-size: medium;
  padding: 12px 40px;
  background-color: rgb(48, 44, 44);
  font-weight: 600;
  border-radius: 10px;
  color: white;
}

.teacher .tsign{
  font-weight: bold;
  text-decoration: none;
  color: #2bb050;
}

.home .student{
  height: 121.4%;
  width: 50%;
  background-image: linear-gradient(#bdc3c7 , #2c3e50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student h1{
  color: black;
}

.student p{
  padding-left: 23%;
  padding-right: 20%;
  color: rgb(235, 212, 212);
}

.student .tlog{
  text-decoration: none;
  font-size: medium;
  padding: 12px 40px;
  background-color: rgb(48, 44, 44);
  font-weight: 600;
  border-radius: 10px;
  color: white;
}

.student .tsign{
  font-weight: bold;
  text-decoration: none;
  color: #2bb050;
}

/*Home-section*/
